body {
    padding: 0px;
    margin: 0px;
}

.main-container {
    padding: 8px 16px;
}

.search-input-container {
    /* Posicion relativa, o sea, todos los hijos con posicion absoluta se ubican basado en este container */
    position: relative;

    /* Alinear los objetos verticalmente */
    display: flex;
    align-items: center;

    max-width: 300px;


    /* Mismo margen horizontal, o sea horizontalmente se alinea */
    margin: 0px auto;
}

.search-input {
    /* Esto es para que el text no choque con la lupa */
    padding-right: 32px;

    font-weight: 500;
    font-size: 18px;

    width: 100%;
    height: 24px;
    outline: none;
}

.icon-container {
    /* Esto permite poner el icono en la esquina derecha de search-input-container,
    y como es absoluto se monta encima de search-input */
    position: absolute;
    right: 2px;

    border: none;
    background-color: transparent;
}
